/*======================================
            Slider Starts
=========================================*/

.slider
{
    width: 100%;
    height: 700px;
    background-image: url(..//img/Main.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    
    
}

.slider-overlay
{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.65);
    position: relative;
}


.slider-content
{
    position: absolute;
    top: 37%;
    width: 100%;
}

.icons .fa
{
    font-size: 35px;
    margin-right: 7px;
    
}


.cta-div
{
    margin-top: 30px;
     
}


.btn1
{
    padding: 13px 18px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    border: 2px solid white;
    border-top-left-radius: 15px;
    transition: all 0.5s ease-in;
    margin-right: -6px;
    
}



.btn1:hover
{
    text-decoration: none;
    color: white;
    background-color: deepskyblue;
    border-color: deepskyblue;
    
}


.btn2
{
    padding: 13px 18px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    border: 2px solid white;
    border-bottom-right-radius: 15px;
    transition: all 0.5s ease-in;
    margin-right:10px;
}



.btn2:hover
{
    text-decoration: none;
    color: white;
    background-color: orangered;
    border-color: orangered;
    
}

.social-networks a.fa
{
    border: 1px solid white;
    padding: 10px;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-right: 2px;
    transition: all 0.5s ease-in;
    
}


.social-networks a.fa:hover
{
    text-decoration: none;
    background-color: deepskyblue;
    color: white;
    border: 1px solid deepskyblue;
    
}

 
.slider .text, .slider .typed-cursor
{
    display: inline;
    font-size: 50px;
    text-transform: uppercase;
}


.primary
{
    color: orangered;
}

.typed-cursor
{
  opacity: 1;
  animation: blink 0.7s infinite;
  -webkit-animation:blink 0.7s infinite;
  -mox-animation:blink 0.7s infinite;
    
    
}

@keyframes blink
{
    0%
    {
        opacity: 1;
    }
    
    
    50%
    {
        opacity: 0;
    }
    
    100%
    {
        opacity: 1;
    }
    
    
    
}

@-webkit-keyframes blink
{
    0%
    {
        opacity: 1;
    }
    
    
    50%
    {
        opacity: 0;
    }
    
    100%
    {
        opacity: 1;
    }
  
}

@-moz-keyframes blink
{
    0%
    {
        opacity: 1;
    }
    
    
    50%
    {
        opacity: 0;
    }
    
    100%
    {
        opacity: 1;
    }
    
  
}  

/*=======================================
            Slider Ends
=========================================*/
